version: '3.4'

services:
  web:
    ports:
      - target: 80
        published: 8080
        protocol: tcp

  db:
    ports:
      - target: 3306
        published: 6033
        protocol: tcp

  mailer:
    ports:
      - target: 80
        published: 1080
        protocol: tcp
